body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
}

header, footer {
  padding: 16px 24px;
  background-color: #f893ff;
  color: #fefefe;
}

section {
  padding: 32px 24px;
}

img {
  width: 500px;
  max-width: 100%;
  height: 300px;
  object-fit: contain;
  display: block;
  margin-top: 16px;
}

#del1 {
  background-color: #cc9900;
  color: #660033;
}

#del2 {
  background-color: #483d8b;
  color: #ffd700;
}

#del3 {
  background-color: #8b0000;
  color: #00ffff;
}
